@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    background-color: lightslategray;
}

main {
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px;
    margin-top: 5px;
}

main > h1 {
    text-align: center;
}


div.container > div.image {
    display: flex;
    padding: 10px;
    flex: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px;

}

div.lutadores { 
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

div.lutadores:hover {
    cursor: pointer;
}

div.lutadores > p {
     margin-top: 10px;
     text-align: center;
     font-size: 1em;
     width: 200px;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(245, 245, 245);
     font-weight: bolder;
}

img { 
    height: 350px;
    width: 200px;
}